In [1]:
import time
import os
import tushare as ts
from datetime import datetime
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
from IPython.display import clear_output

sys.path.append("./utils/")
import date_util
import token_util
import data_util

auth success

### 拉取股票列表

In [2]:
# 默认一年前
# stock_list = data_util.get_stock_list()

stock_list = pd.read_csv("./data_pulled/stock_date_delta_priceNone.csv")
stock_list.head()

     ts_code  name
0  000002.SZ   万科A
1  000004.SZ  国农科技
2  000005.SZ  世纪星源
3  000006.SZ  深振业A
4  000007.SZ   全新好

In [3]:
root_dir = "data_pulled"

### 拉取或更新日k数据

In [ ]:
for i in range(len(stock_list)):
    
    try:
        
        stock_code = stock_list.iloc[i]["ts_code"]
        data= data_util.pull_data(stock_code, root_dir=root_dir)
        
    except:
        time.sleep(3)

### 拉取或更新周k数据

In [5]:
for i in range(len(stock_list)):
        
    try:

        stock_code = stock_list.iloc[i]["ts_code"]
        data= data_util.pull_data(stock_code, freq='W', root_dir=root_dir)

    except:
        
        time.sleep(3)

### 拉取或更新月k数据

In [ ]:
for i in range(len(stock_list)):
        
    try:
        
        stock_code = stock_list.iloc[i]["ts_code"]
        data= data_util.pull_data(stock_code, freq='M', root_dir=root_dir)
        
    except:
        
        time.sleep(3)

In [2]:
import tushare as ts
pro = token_util.set_token()

pro.monthly(ts_code='000001.SZ', start_date='20190101', end_date='20191201', fields='ts_code,trade_date,open,high,low,close,vol,amount')

,ts_code,trade_date,close,open,high,low,vol,amount
0,000001.SZ,20191129,15.29,16.35,17.44,15.18,1.640143e+09,2.672014e+10
1,000001.SZ,20191031,16.26,15.60,17.60,15.60,2.019234e+09,3.355394e+10
2,000001.SZ,20190930,15.59,14.15,16.04,14.11,2.538655e+09,3.799487e+10
3,000001.SZ,20190830,14.16,14.06,15.22,13.03,2.993290e+09,4.331356e+10
4,000001.SZ,20190731,14.13,14.01,14.55,13.44,1.652336e+09,2.307291e+10
5,000001.SZ,20190628,13.78,12.22,13.95,11.60,1.662158e+09,2.137764e+10
6,000001.SZ,20190531,12.18,13.10,13.35,11.93,1.864961e+09,2.337029e+10
7,000001.SZ,20190430,13.85,12.83,14.84,12.83,2.593170e+09,3.620546e+10
8,000001.SZ,20190329,12.82,12.48,13.38,12.01,2.671303e+09,3.364583e+10
9,000001.SZ,20190228,12.36,11.20,12.66,10.90,1.911474e+09,2.230669e+10
10,000001.SZ,20190131,11.10,9.39,11.20,9.15,1.816315e+09,1.876003e+10

### 获取股东数

In [4]:
for i in range(len(stock_list)):
    
    try:
        
        stock_code = stock_list.iloc[i]["ts_code"]
        data= data_util.pull_holder_num(stock_code, root_dir=root_dir)
        
    except:
        time.sleep(3)

### 获取上证指数信息

In [ ]:
shang_zheng_data = get_price('000001.XSHG', start_date='2019-01-01', end_date='2019-11-11', frequency='daily', 
                              fields=None, skip_paused=False, fq='pre')

In [ ]:
date_index = []
index_list = shang_zheng_data._stat_axis.values
for index in index_list:
    index = str(index)
    date_index.append(index[:4] + index[5:7] + index[8:10])
    
shang_zheng_data["trade_date"] = np.array(date_index)
shang_zheng_data = shang_zheng_data.reset_index(drop=True)
shang_zheng_data = data_util.cal_macd(shang_zheng_data, False)
shang_zheng_data.to_csv("./data_pulled/000001.SH.csv", index=False)