In [1]:
import time
import os
import tushare as ts
from datetime import datetime
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
from IPython.display import clear_output

sys.path.append("./utils/")
import date_util
import token_util
import enter_util
import stock_util

### 读取数据

In [2]:
stock_list = pd.read_csv("./data_pulled/stock_list.csv")
stock_list.head()

     ts_code  name   price
0  000001.SZ  平安银行  14.145
1  000002.SZ   万科A  25.885
2  000004.SZ  国农科技  20.090
3  000005.SZ  世纪星源   3.135
4  000006.SZ  深振业A   5.360

### 拉取或更新日k数据

In [5]:
root_dir = "data_pulled"

In [6]:
for i in range(len(stock_list)):
        
    try:
        
        stock_code = stock_list.iloc[i]["ts_code"]
        data= stock_util.pull_data(stock_code, root_dir=root_dir)
        
    except:
        
        time.sleep(3)

### 拉取或更新周k数据

In [4]:
for i in range(len(stock_list)):
        
    try:

        stock_code = stock_list.iloc[i]["ts_code"]
        data= stock_util.pull_data(stock_code, freq='W', root_dir=root_dir)

    except:

        time.sleep(3)

### 拉取或更新月k数据

In [ ]:
# 当前无权限访问该接口

for i in range(len(stock_list)):
        
    try:
        
        stock_code = stock_list.iloc[i]["ts_code"]
        data= stock_util.pull_data(stock_code, freq='M', root_dir=root_dir)
        
    except:
        
        time.sleep(3)